
@tailwind base
@tailwind components
@tailwind utilities
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap')


.heading-m
    font-weight: bold
    line-height: 1.5
    font-size: 1.90rem

.heading-s
    font-weight: bold
    line-height: 1.5
    font-size: 1.35rem

.body-m
    line-height: 1.5
    font-size: 0.75rem

.body-s
    line-height: 1.5
    font-size: 0.60rem

@media (min-width: 768px)
    .heading-m
        font-size: 2rem

    .heading-s
        font-size: 1.95rem

    .body-m
        font-size: 1rem

    .body-s
        font-size: 0.85rem

@media (min-width: 1024px)
    .body-m
        font-size: 1.2rem
:root
    --purple: #633CFF
    --purple-hover: #BEADFF
    --ligth-purple: #EFEBFF
    --dark-gray: #333333
    --grey: #737373
    --borders: #D9D9D9
    --light-gray: #FAFAFA
    --white: #FFFFFF
    --red: #FF3939

body
    font-family: "Instrument Sans"
    background-color: var(--light-gray)

.color-gray
    color: var(--grey)

.color-dark-gray
    color: var(--dark-gray)

.color-purple
    color: var(--purple)

    
input
    &:focus
        outline: none

